*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #5A6978;
}
#heading1{
   position: relative;
   left: 50%;
   transform: translate(-50%);
    border: 2px solid blue;
    display: inline-block;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
    outline: 2px solid red;
    background-color: #F0E68C;
}
#flexContainer{

    width: 95%;
    position: absolute;
    left: 50%;
 
    transform: translate(-50%);
    border: 5px solid rgb(0, 255, 8);
    border-radius: 5px;
    outline: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 15px;

}

.childDiv{
    height: 150px;
    width: 150px;
    border: 5px solid #6A5ACD;
    outline: 3px solid #BC8F8F;
    border-radius: 5px;
    flex-basis: 150px;
    flex-shrink: 1;
    flex-grow: 1;
    /*here display flex is used again to center text ijn the div */
 display: flex;             
    justify-content: center;   
    align-items: center;  
}